/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #00887a;
  --main-color-alt: #0cb9a8;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ebf2fd;
}
html {
  scroll-behavior: smooth;
  line-height: 1.15;
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* End Global Rules */
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  z-index: 1;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  filter: brightness(0);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  background-color: var(--section-background);
}
.landing .background{
  position: absolute;
  opacity: 7%;
  margin: auto;
  z-index: 0;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  
}
.landing .text {
  z-index: 2;
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  color: var(--main-color);
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 20px;
  line-height: 1.7;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .text button{
  background: none;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 50px;
  border: black 1px solid;
}
.landing .text button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffccbc;
  transition: .5s;
  z-index: 1;
}
.landing .text button:hover::before{
  top: 0;
}
.landing .text button div{
  position: relative;
  z-index: 2;
  transition: var(--main-transition);
}
.landing .text button:hover{
  border: var(--main-color) 1px solid;
}
.landing .text button:hover div{
  color: var(--main-color);
}
.landing .image img {
  right: 50%;
  position: relative;
  width: 300px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: #ffccbc;
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start description */
.description {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(/imgs/safar-safarov-koOdUvfGr4c-unsplash.jpg);
  background-size: cover;
}
.description::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffccbce8;
}
.description .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .description .container {
    flex-direction: column;
  }
}
.description .image {
  width: 50%;
  z-index: 2;
}
.description .image img{
  width: 100%;
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .description .image {
    width: 100%;
    margin: 0 0 50px;
  }
}
.description .info{
  width: 50%;
}
@media (max-width: 991px) {
  .description .info {
    width: 100%;
  }
}
.description .info .box {
  background-color: #ffccbc;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .description .info .box {
    flex-direction: column;
    text-align: center;
  }
}
.description .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ffdbd1;
  z-index: -1;
  transition: var(--main-transition);
}
.description .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.description .info .box img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .description .info .box img {
    margin: 0 0 30px;
  }
}
.description .info .box h3 {
  color: var(--main-color);
  margin: 0;
  font-size: 22px;
}
.description .info .box p {
  color: black;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
/* End description */
/* Start evenements */
.evenements {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(/imgs/281_generated.jpg);
  background-size: cover;
}
.evenements::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ebf2fde5;
}
.evenements .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.evenements .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}
.evenements .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.evenements .box h3 {
  margin: 0 0 10px;
}
.evenements .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.evenements .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}
/* End Testimonials */
/* Start galerie */
.galerie {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: #ffccbc;
}
.galerie .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.galerie .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  z-index: 1;
}
.galerie .box .image {
  position: relative;
  overflow: hidden;
}
.galerie .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.galerie .box .image:hover::before {
  animation: flashing 0.7s;
}
.galerie .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.galerie .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End galerie */
/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 60px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  left: 0;
  bottom: 0;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box .logo {
  margin-bottom: 30px;
  width: 100px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .instagram:hover {
  background-color: #C13584;
}
.footer .box .social .github:hover {
  background-color: #636363;
}
.footer .box .input{
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.footer .box textarea{
  resize: none;
  height: 140px;
}
.footer .box [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.inscription .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
/* Start inscription */
.inscription {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.inscription .image {
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.inscription .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
}
@media (max-width: 991px) {
  .inscription .image {
    flex-basis: 100%;
  }
}
.inscription .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .inscription .form {
    flex-basis: 100%;
  }
}
.inscription .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.inscription .form textarea.input {
  resize: none;
  height: 200px;
}
.inscription .form .input:focus {
  outline: none;
}
.inscription .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.inscription .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.inscription .content {
  text-align: center;
  padding: 0 20px;
}
.inscription .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.inscription .content .avantages li{
  position: relative;
  margin: 40px;
}
.inscription .content .avantages li::before{
  content: "";
  background-image: url('/imgs/scribble-broken-line.png');
  position: absolute;
  width: 24px;
  height: 24px;
  left: -30px;
  top: 2px;
}
.inscription .content .avantages div:hover ::before{
  animation: left-and-right 0.5s linear infinite;
}
.inscription .content .avantages li p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.inscription .content img {
  width: 200px;
  max-width: 100%;
}
/* End inscription */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: -20px;
  }
}
@keyframes left-and-right {
  0%,
  100% {
    left: -30px;
  }
  50% {
    left: -24px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
